.main {
  flex: 1;
  height: 100vh;
  /* padding-bottom: 15vh; */
  position: relative;
}

.main .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 22px;
  color: #585858;
}

.main .nav-bar img {
  width: 40px;
  border-radius: 50%;
}

.main-container {
  max-width: 900px;
  margin: auto;
}

.main .greet {
  margin: 50px 0px;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}

.main .greet span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 2px;
}

.main .card {
  height: 200px;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.main .card p {
  font-size: 17px;
  color: #585858;
}

.main .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}

.main .card:hover {
  background-color: #dfe4ea;
}

.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
  /* background-color: aqua; */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
}

.main-bottom .prompt-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 50px;
  /* width: 100%; */
}

.main-bottom .prompt-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 8px;
  font-size: 18px;
}
.main-bottom .prompt-box img {
  width: 24px;
  cursor: pointer;
}

/* .main-bottom .prompt-box img:hover{
  background-color: #1a73e8;
} */

.main-bottom .prompt-box div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-bottom .bottom-info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
}

.result {
  padding: 0px 5px;
  max-height: 70vh;
  overflow-y: scroll;
}

.result::-webkit-scrollbar {
  display: none;
}

.result .result-title {
  display: flex;
  align-items: center;
  margin: 40px 0px;
  gap: 20px;
}

.result img {
  width: 40px;
  border-radius: 50%;
}

.result .result-data {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed9ff, #ffffff, #9ed9ff);
  background-size: 1000px, 50px;
  height: 20px;
  animation: loader 2s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -1000px;
  }
  100% {
    background-position: 800px;
  }
}

.result-data p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}

@media (max-width: 600px) {
  .main {
    margin: 8px;
  }
  .main-bottom {
    margin-bottom: 8px;
  }
  .main-bottom input {
    flex: none;
    width: 150px;
  }
  .main-container img {
    width: 35px;
  }
  .search-box {
    padding: 5px 10px;
  }
  .search-box div {
    gap: 20px;
  }
}
